@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

section
{
    height: 100vh;
    width: 100%;
}
section
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-reveal
{
    color:#fff;
    font-size: 50px;
}

#items1
{
    background: black;
}
#items2
{
    background: red;
}
#items3
{
    background: green;
}
#items4
{
    background: darkblue;
}

